<template>
  <div>
    <h2>Vue Form Generator</h2>
    <vue-form-generator :schema="schema" :model="model" :options="formOptions"></vue-form-generator>
    <h3>Values</h3>
    {{ model }}
  </div>
</template>

<script>

export default {
  data: () => ({
    model: {
      name: "",
      email: "",
      username: "",
      password: "",
      favoriteLanguage: "",
      acceptTerms: ""
    },
    dataServices: null,
    schema: {
      groups: [
        {
          legend: "User Details",
          styleClasses: "group-style",
          fields: [
            {
              type: "input",
              inputType: "email",
              label: "Email",
              model: "email",
              required: true,
              placeholder: "email@test.com",
              validator: "email",
              styleClasses: "field-style",
            },
            {
              type: "input",
              inputType: "text",
              label: "Username",
              model: "username",
              required: true,
              validator: "string",
              styleClasses: "field-style",
            },
            {
              type: "checkbox",
              default: false,
              label: "Accept Terms",
              model: "acceptTerms",
              required: true,
              validator: 'required',
              styleClasses: "field-style",
            },
            {
              type: "submit",
              onSubmit(model) {
                console.log(model);
              },
              label: "",
              buttonText: "Sign Up",
              validateBeforeSubmit: true
            }
          ]
        }]
    },
    formOptions: {
      validateAfterLoad: false,
      validateAfterChange: true,
      validateAsync: true
    }
  }),
  mounted() {
    this.retrieveData()
  },
  method: {
    retrieveData() {
      this.getDataServices()
    },

    async getDataServices() {
      try {
        this.dataServices = {
          "code": 200,
          "status": "Success",
          "data": {
            "orderid": "",
            "orderno": "",
            "services": [
              {
                "id": 1,
                "service_name": "Foto Persyaratan"
              },
              {
                "id": 2,
                "service_name": "Tanda Tangan Perjanjian"
              },
              {
                "id": 3,
                "service_name": "BPKB Kendaraan"
              }
            ],
            "services_json": [
              {
                "service_id": {
                  "id": 1,
                  "service_name": "Foto Persyaratan"
                },
                "json": [
                  {
                    "id": 22,
                    "group": "parent",
                    "parent_description": null,
                    "description": "Foto Persyaratan",
                    "mandatory": 0,
                    "sequence": 1,
                    "parent": "0",
                    "type": "text",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 23,
                    "group": "child",
                    "parent_description": null,
                    "description": "Silahkan selesaikan Pengerjaan Service Pickers ini dengan melengkapi foto-foto yang ada di bawah ini, foto harus jernih & dapat terbaca tulisannya.",
                    "mandatory": 0,
                    "sequence": 2,
                    "parent": "22",
                    "type": "text",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 24,
                    "group": "parent",
                    "parent_description": null,
                    "description": "Foto Konsumen dan Kebutuhan Data Konsumen",
                    "mandatory": 0,
                    "sequence": 2,
                    "parent": "0",
                    "type": "text",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 25,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Debitur saat sedang TTD Dokumen (Tanpa Masker)",
                    "mandatory": 1,
                    "sequence": 2,
                    "parent": "24",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 26,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Pasangan Debitur (Suami/Istri) saat sedang TTD Dokumen (Tanpa Masker)",
                    "mandatory": 0,
                    "sequence": 3,
                    "parent": "24",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 27,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Bagian Depan Buku Tabungan terlihat No. Rekening",
                    "mandatory": 0,
                    "sequence": 4,
                    "parent": "24",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 28,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Token Listrik/Struk Pembayaran Listrik/Screenshoot Pembayaran Listrik Satu Bulan Terakhir",
                    "mandatory": 0,
                    "sequence": 5,
                    "parent": "24",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 29,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto KTP Debitur & Pasangan ",
                    "mandatory": 1,
                    "sequence": 6,
                    "parent": "24",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 30,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Kartu Keluarga",
                    "mandatory": 1,
                    "sequence": 7,
                    "parent": "24",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 31,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto BPKB",
                    "mandatory": 0,
                    "sequence": 8,
                    "parent": "24",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 32,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Slip Gaji/Screenshoot Slip Gaji",
                    "mandatory": 0,
                    "sequence": 9,
                    "parent": "24",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 33,
                    "group": "parent",
                    "parent_description": null,
                    "description": "Foto Kendaraan & Surat Kendaraan",
                    "mandatory": 0,
                    "sequence": 3,
                    "parent": "0",
                    "type": "text",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 34,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Selfie Pikers dengan Unit Agunan",
                    "mandatory": 0,
                    "sequence": 2,
                    "parent": "33",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 35,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto No. Rangka Unit",
                    "mandatory": 0,
                    "sequence": 3,
                    "parent": "33",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 36,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto No. Mesin Unit",
                    "mandatory": 0,
                    "sequence": 4,
                    "parent": "33",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 37,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Motor Serong Kanan (Terlihat plat no depan)",
                    "mandatory": 0,
                    "sequence": 5,
                    "parent": "33",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 38,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Motor Serong Kiri (Terlihat plat no belakang)",
                    "mandatory": 0,
                    "sequence": 6,
                    "parent": "33",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 39,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto STNK",
                    "mandatory": 0,
                    "sequence": 7,
                    "parent": "33",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 40,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Kondisi Kendaraan Yang Rusak",
                    "mandatory": 0,
                    "sequence": 8,
                    "parent": "33",
                    "type": "photo",
                    "is_multiple": 1,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 41,
                    "group": "parent",
                    "parent_description": null,
                    "description": "Video Kendaraan",
                    "mandatory": 0,
                    "sequence": 4,
                    "parent": "0",
                    "type": "text",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 42,
                    "group": "child",
                    "parent_description": null,
                    "description": "Upload Video dengan durasi maksimal 10 detik dengan kondisi mesin menyala",
                    "mandatory": 0,
                    "sequence": 2,
                    "parent": "41",
                    "type": "video",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  }
                ]
              },
              {
                "service_id": {
                  "id": 2,
                  "service_name": "Tanda Tangan Perjanjian"
                },
                "json": [
                  {
                    "id": 22,
                    "group": "parent",
                    "parent_description": null,
                    "description": "Foto Persyaratan",
                    "mandatory": 0,
                    "sequence": 1,
                    "parent": "0",
                    "type": "text",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 23,
                    "group": "child",
                    "parent_description": null,
                    "description": "Silahkan selesaikan Pengerjaan Service Pickers ini dengan melengkapi foto-foto yang ada di bawah ini, foto harus jernih & dapat terbaca tulisannya.",
                    "mandatory": 0,
                    "sequence": 2,
                    "parent": "22",
                    "type": "text",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 24,
                    "group": "parent",
                    "parent_description": null,
                    "description": "Foto Konsumen dan Kebutuhan Data Konsumen",
                    "mandatory": 0,
                    "sequence": 2,
                    "parent": "0",
                    "type": "text",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 25,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Debitur saat sedang TTD Dokumen (Tanpa Masker)",
                    "mandatory": 1,
                    "sequence": 2,
                    "parent": "24",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 26,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Pasangan Debitur (Suami/Istri) saat sedang TTD Dokumen (Tanpa Masker)",
                    "mandatory": 0,
                    "sequence": 3,
                    "parent": "24",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 27,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Bagian Depan Buku Tabungan terlihat No. Rekening",
                    "mandatory": 0,
                    "sequence": 4,
                    "parent": "24",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 28,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Token Listrik/Struk Pembayaran Listrik/Screenshoot Pembayaran Listrik Satu Bulan Terakhir",
                    "mandatory": 0,
                    "sequence": 5,
                    "parent": "24",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 29,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto KTP Debitur & Pasangan ",
                    "mandatory": 1,
                    "sequence": 6,
                    "parent": "24",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 30,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Kartu Keluarga",
                    "mandatory": 1,
                    "sequence": 7,
                    "parent": "24",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 31,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto BPKB",
                    "mandatory": 0,
                    "sequence": 8,
                    "parent": "24",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 32,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Slip Gaji/Screenshoot Slip Gaji",
                    "mandatory": 0,
                    "sequence": 9,
                    "parent": "24",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 33,
                    "group": "parent",
                    "parent_description": null,
                    "description": "Foto Kendaraan & Surat Kendaraan",
                    "mandatory": 0,
                    "sequence": 3,
                    "parent": "0",
                    "type": "text",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 34,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Selfie Pikers dengan Unit Agunan",
                    "mandatory": 0,
                    "sequence": 2,
                    "parent": "33",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 35,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto No. Rangka Unit",
                    "mandatory": 0,
                    "sequence": 3,
                    "parent": "33",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 36,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto No. Mesin Unit",
                    "mandatory": 0,
                    "sequence": 4,
                    "parent": "33",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 37,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Motor Serong Kanan (Terlihat plat no depan)",
                    "mandatory": 0,
                    "sequence": 5,
                    "parent": "33",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 38,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Motor Serong Kiri (Terlihat plat no belakang)",
                    "mandatory": 0,
                    "sequence": 6,
                    "parent": "33",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 39,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto STNK",
                    "mandatory": 0,
                    "sequence": 7,
                    "parent": "33",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 40,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Kondisi Kendaraan Yang Rusak",
                    "mandatory": 0,
                    "sequence": 8,
                    "parent": "33",
                    "type": "photo",
                    "is_multiple": 1,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 41,
                    "group": "parent",
                    "parent_description": null,
                    "description": "Video Kendaraan",
                    "mandatory": 0,
                    "sequence": 4,
                    "parent": "0",
                    "type": "text",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 42,
                    "group": "child",
                    "parent_description": null,
                    "description": "Upload Video dengan durasi maksimal 10 detik dengan kondisi mesin menyala",
                    "mandatory": 0,
                    "sequence": 2,
                    "parent": "41",
                    "type": "video",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 1,
                    "group": "parent",
                    "parent_description": null,
                    "description": "TTD Perjanjian",
                    "mandatory": 0,
                    "sequence": 1,
                    "parent": "0",
                    "type": "text",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 2,
                    "group": "child",
                    "parent_description": null,
                    "description": "D-004B-1 Perjanjian Pembelian dengan Pembayaran secara Angsuran (Bermaterai)",
                    "mandatory": 1,
                    "sequence": 2,
                    "parent": "1",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 3,
                    "group": "child",
                    "parent_description": null,
                    "description": "D-004B-2 Struktur Perjanjian Pembelian dengan Pembayaran secara Angsuran",
                    "mandatory": 1,
                    "sequence": 3,
                    "parent": "1",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 4,
                    "group": "child",
                    "parent_description": null,
                    "description": "D-025 Surat Permohonan Debitur",
                    "mandatory": 1,
                    "sequence": 4,
                    "parent": "1",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 5,
                    "group": "child",
                    "parent_description": null,
                    "description": "F-024A / F-024E Tanda terima BPKB",
                    "mandatory": 1,
                    "sequence": 5,
                    "parent": "1",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 6,
                    "group": "child",
                    "parent_description": null,
                    "description": "F-002 Formulir Permohonan Pembiayaan",
                    "mandatory": 1,
                    "sequence": 6,
                    "parent": "1",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 7,
                    "group": "child",
                    "parent_description": null,
                    "description": "D-041 Surat Kuasa Pembebanan Jaminan Fidusia (Bermaterai)",
                    "mandatory": 1,
                    "sequence": 7,
                    "parent": "1",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 8,
                    "group": "child",
                    "parent_description": null,
                    "description": "D-079 Surat Pernyataan Asuransi Jiwa",
                    "mandatory": 1,
                    "sequence": 8,
                    "parent": "1",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 9,
                    "group": "child",
                    "parent_description": null,
                    "description": "Kwitansi",
                    "mandatory": 1,
                    "sequence": 9,
                    "parent": "1",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 10,
                    "group": "parent",
                    "parent_description": null,
                    "description": "Dokumen Kondisional",
                    "mandatory": 0,
                    "sequence": 2,
                    "parent": "0",
                    "type": "text",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 11,
                    "group": "child",
                    "parent_description": null,
                    "description": "D-012 Jaminan Penanggungan Hutang (Personal Guarantee)",
                    "mandatory": 0,
                    "sequence": 11,
                    "parent": "10",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 12,
                    "group": "child",
                    "parent_description": null,
                    "description": "D-012B Jaminan Pembayaran (Payment Guarantee)",
                    "mandatory": 0,
                    "sequence": 12,
                    "parent": "10",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 13,
                    "group": "child",
                    "parent_description": null,
                    "description": "D-018B Surat Pernyataan & Persetujuan Pasangan",
                    "mandatory": 0,
                    "sequence": 13,
                    "parent": "10",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 14,
                    "group": "child",
                    "parent_description": null,
                    "description": "D-045 Surat Pernyataan Beda Data di Identitas",
                    "mandatory": 0,
                    "sequence": 14,
                    "parent": "10",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  }
                ]
              },
              {
                "service_id": {
                  "id": 3,
                  "service_name": "BPKB Kendaraan"
                },
                "json": [
                  {
                    "id": 22,
                    "group": "parent",
                    "parent_description": null,
                    "description": "Foto Persyaratan",
                    "mandatory": 0,
                    "sequence": 1,
                    "parent": "0",
                    "type": "text",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 23,
                    "group": "child",
                    "parent_description": null,
                    "description": "Silahkan selesaikan Pengerjaan Service Pickers ini dengan melengkapi foto-foto yang ada di bawah ini, foto harus jernih & dapat terbaca tulisannya.",
                    "mandatory": 0,
                    "sequence": 2,
                    "parent": "22",
                    "type": "text",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 24,
                    "group": "parent",
                    "parent_description": null,
                    "description": "Foto Konsumen dan Kebutuhan Data Konsumen",
                    "mandatory": 0,
                    "sequence": 2,
                    "parent": "0",
                    "type": "text",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 25,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Debitur saat sedang TTD Dokumen (Tanpa Masker)",
                    "mandatory": 1,
                    "sequence": 2,
                    "parent": "24",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 26,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Pasangan Debitur (Suami/Istri) saat sedang TTD Dokumen (Tanpa Masker)",
                    "mandatory": 0,
                    "sequence": 3,
                    "parent": "24",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 27,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Bagian Depan Buku Tabungan terlihat No. Rekening",
                    "mandatory": 0,
                    "sequence": 4,
                    "parent": "24",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 28,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Token Listrik/Struk Pembayaran Listrik/Screenshoot Pembayaran Listrik Satu Bulan Terakhir",
                    "mandatory": 0,
                    "sequence": 5,
                    "parent": "24",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 29,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto KTP Debitur & Pasangan ",
                    "mandatory": 1,
                    "sequence": 6,
                    "parent": "24",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 30,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Kartu Keluarga",
                    "mandatory": 1,
                    "sequence": 7,
                    "parent": "24",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 31,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto BPKB",
                    "mandatory": 0,
                    "sequence": 8,
                    "parent": "24",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 32,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Slip Gaji/Screenshoot Slip Gaji",
                    "mandatory": 0,
                    "sequence": 9,
                    "parent": "24",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 33,
                    "group": "parent",
                    "parent_description": null,
                    "description": "Foto Kendaraan & Surat Kendaraan",
                    "mandatory": 0,
                    "sequence": 3,
                    "parent": "0",
                    "type": "text",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 34,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Selfie Pikers dengan Unit Agunan",
                    "mandatory": 0,
                    "sequence": 2,
                    "parent": "33",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 35,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto No. Rangka Unit",
                    "mandatory": 0,
                    "sequence": 3,
                    "parent": "33",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 36,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto No. Mesin Unit",
                    "mandatory": 0,
                    "sequence": 4,
                    "parent": "33",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 37,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Motor Serong Kanan (Terlihat plat no depan)",
                    "mandatory": 0,
                    "sequence": 5,
                    "parent": "33",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 38,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Motor Serong Kiri (Terlihat plat no belakang)",
                    "mandatory": 0,
                    "sequence": 6,
                    "parent": "33",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 39,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto STNK",
                    "mandatory": 0,
                    "sequence": 7,
                    "parent": "33",
                    "type": "photo",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 40,
                    "group": "child",
                    "parent_description": null,
                    "description": "Foto Kondisi Kendaraan Yang Rusak",
                    "mandatory": 0,
                    "sequence": 8,
                    "parent": "33",
                    "type": "photo",
                    "is_multiple": 1,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 41,
                    "group": "parent",
                    "parent_description": null,
                    "description": "Video Kendaraan",
                    "mandatory": 0,
                    "sequence": 4,
                    "parent": "0",
                    "type": "text",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 42,
                    "group": "child",
                    "parent_description": null,
                    "description": "Upload Video dengan durasi maksimal 10 detik dengan kondisi mesin menyala",
                    "mandatory": 0,
                    "sequence": 2,
                    "parent": "41",
                    "type": "video",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 1,
                    "group": "parent",
                    "parent_description": null,
                    "description": "TTD Perjanjian",
                    "mandatory": 0,
                    "sequence": 1,
                    "parent": "0",
                    "type": "text",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 2,
                    "group": "child",
                    "parent_description": null,
                    "description": "D-004B-1 Perjanjian Pembelian dengan Pembayaran secara Angsuran (Bermaterai)",
                    "mandatory": 1,
                    "sequence": 2,
                    "parent": "1",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 3,
                    "group": "child",
                    "parent_description": null,
                    "description": "D-004B-2 Struktur Perjanjian Pembelian dengan Pembayaran secara Angsuran",
                    "mandatory": 1,
                    "sequence": 3,
                    "parent": "1",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 4,
                    "group": "child",
                    "parent_description": null,
                    "description": "D-025 Surat Permohonan Debitur",
                    "mandatory": 1,
                    "sequence": 4,
                    "parent": "1",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 5,
                    "group": "child",
                    "parent_description": null,
                    "description": "F-024A / F-024E Tanda terima BPKB",
                    "mandatory": 1,
                    "sequence": 5,
                    "parent": "1",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 6,
                    "group": "child",
                    "parent_description": null,
                    "description": "F-002 Formulir Permohonan Pembiayaan",
                    "mandatory": 1,
                    "sequence": 6,
                    "parent": "1",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 7,
                    "group": "child",
                    "parent_description": null,
                    "description": "D-041 Surat Kuasa Pembebanan Jaminan Fidusia (Bermaterai)",
                    "mandatory": 1,
                    "sequence": 7,
                    "parent": "1",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 8,
                    "group": "child",
                    "parent_description": null,
                    "description": "D-079 Surat Pernyataan Asuransi Jiwa",
                    "mandatory": 1,
                    "sequence": 8,
                    "parent": "1",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 9,
                    "group": "child",
                    "parent_description": null,
                    "description": "Kwitansi",
                    "mandatory": 1,
                    "sequence": 9,
                    "parent": "1",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 10,
                    "group": "parent",
                    "parent_description": null,
                    "description": "Dokumen Kondisional",
                    "mandatory": 0,
                    "sequence": 2,
                    "parent": "0",
                    "type": "text",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 11,
                    "group": "child",
                    "parent_description": null,
                    "description": "D-012 Jaminan Penanggungan Hutang (Personal Guarantee)",
                    "mandatory": 0,
                    "sequence": 11,
                    "parent": "10",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 12,
                    "group": "child",
                    "parent_description": null,
                    "description": "D-012B Jaminan Pembayaran (Payment Guarantee)",
                    "mandatory": 0,
                    "sequence": 12,
                    "parent": "10",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 13,
                    "group": "child",
                    "parent_description": null,
                    "description": "D-018B Surat Pernyataan & Persetujuan Pasangan",
                    "mandatory": 0,
                    "sequence": 13,
                    "parent": "10",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 14,
                    "group": "child",
                    "parent_description": null,
                    "description": "D-045 Surat Pernyataan Beda Data di Identitas",
                    "mandatory": 0,
                    "sequence": 14,
                    "parent": "10",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 15,
                    "group": "parent",
                    "parent_description": null,
                    "description": "BPKB",
                    "mandatory": 0,
                    "sequence": 1,
                    "parent": "0",
                    "type": "text",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 16,
                    "group": "child",
                    "parent_description": null,
                    "description": "Cek Kondisi Fisik BPKB (Dipastikan sampul BPKB dan kertas BPKB tidak rusak) ",
                    "mandatory": 1,
                    "sequence": 2,
                    "parent": "15",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 17,
                    "group": "child",
                    "parent_description": null,
                    "description": "Melakukan Senter Sinar UV Pada BPKB (Watermark dan Benang Pengaman)",
                    "mandatory": 1,
                    "sequence": 3,
                    "parent": "15",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 18,
                    "group": "child",
                    "parent_description": null,
                    "description": "Mengecek Nama BPKB dengan STNK",
                    "mandatory": 1,
                    "sequence": 4,
                    "parent": "15",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 19,
                    "group": "child",
                    "parent_description": null,
                    "description": "Mengecek Nama STNK dengan KTP Debitur/Pasangan",
                    "mandatory": 1,
                    "sequence": 5,
                    "parent": "15",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 20,
                    "group": "child",
                    "parent_description": null,
                    "description": "Mengecek No. Rangka di BPKB dengan di Motor",
                    "mandatory": 1,
                    "sequence": 6,
                    "parent": "15",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  },
                  {
                    "id": 21,
                    "group": "child",
                    "parent_description": null,
                    "description": "Mengecek No. Mesin di BPKB dengan di Motor",
                    "mandatory": 1,
                    "sequence": 7,
                    "parent": "15",
                    "type": "checkbox",
                    "is_multiple": 0,
                    "remark": null,
                    "value": null
                  }
                ]
              }
            ]
          },
          "time_stamp": "2022-06-22 12:59:12"
        }
        this.dataServices.data.forEach((value, index) => {
          // this.schema.push(value);
          console.log(value);
          console.log(index);
        });
        // : [
        //   {
        //     "service_id": {
        //       "id": 1,
        //       "service_name": "Foto Persyaratan"
        //     },
        //     "json": [
      } catch (e) {
        console.log(e)
      }

    }
  }
};
</script>
<style>
.group-style {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}
.field-style {
  text-align: left;
}
</style>