<template>
  <div id="app">
    <page-form-dynamic />
  </div>
</template>

<script>
import PageFormDynamic from './components/PageFormDynamic';

export default {
  name: 'App',
  components: {
    PageFormDynamic
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 10vh 20vw;
}
</style>
